<sb-layout-dashboard><sb-dashboard-head title="Formulario" [hideBreadcrumbs]="false"></sb-dashboard-head>

<div class="col-sm-6 align-self-center">
<form>
    <div class="form-group">
        <label for="nitproductor">NIT del productor</label>
        <input type="text" class="form-control" id="nitproductor" placeholder="Ingrese el NIT del productor" required [(ngModel)]="nitProductor"
        [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
        <label for="cantidadParcialidades">Parcialidad</label>
        <input type="number" class="form-control" id="cantidadParcialidades" placeholder="Ingrese Parcialidad" required [(ngModel)]="cantidadParcialidades"
        >
    </div>
    <div class="form-group">
        <label for="pesajetotal">Peso total</label>
        <input type="number" class="form-control" id="pesajetotal" placeholder="Ingrese el peso total" required [(ngModel)]="pesajeTotalKg"
        >
    </div>
    <div class="form-group">
        <label for="tipocafe">Tipo de café</label>
        <select class="form-control" id="tipocafe" required [(ngModel)]="tipoCafe"
        [ngModelOptions]="{standalone: true}">
            <option value="">Seleccione el tipo de café</option>
            <option value="cafe1">Café 1</option>
            <option value="cafe2">Café 2</option>
            <option value="cafe3">Café 3</option>
        </select>
    </div>
    <button (click)="saveAccount()" type="submit" class="btn btn-primary">Guardar</button>
</form>
</div>


</sb-layout-dashboard>