<form>
    <div class="form-group">
      <label for="licenciaTransportista">Licencia Transportista</label>
      <input type="text" class="form-control" id="licenciaTransportista" [(ngModel)]="licenciaTransportista" name="licenciaTransportista">
    </div>
    <div class="form-group">
      <label for="placaTransporte">Placa Transporte</label>
      <input type="text" class="form-control" id="placaTransporte" [(ngModel)]="placaTransporte" name="placaTransporte">
    </div>
    <div class="form-group">
      <label for="pesoParcialidad">Peso Parcialidad</label>
      <input type="number" class="form-control" id="pesoParcialidad" [(ngModel)]="pesoParcialidad" name="pesoParcialidad">
    </div>
    <button (click)="saveParcialidad()" type="submit" class="btn btn-primary">Enviar</button>
    <button (click)="closeDialog()" type="submit" class="btn btn-danger ml-2">Cancelar</button>
    <button (click)="clearFormulario()" type="submit" class="btn btn-warning ml-2">Limpiar</button>
  </form>